body {
  margin: 0;
  height: 2000px;
}

.navigation {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  display: flex;
  justify-content: right;
  list-style: none;
  background-color: #6e7801;
  padding: 10px;
  margin: 0;
  z-index: 3;
}

.navigation-item {
  display: flex;
  margin: 1px;
  padding: 5px;
  color: white;
  text-transform: uppercase;
}

.navigation-item:first-child {
  position: absolute;
  left: 1px;
  margin: 1px;
  padding: 5px;
}

.content-wrapper {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  position: relative;
}

.title-div {
  display: inline-block;
  text-align: center;
  flex-direction: column;
  position: absolute;
  top: 25vh;
  width: 500px;
  background-color: #fff;
  padding: 10px;
  align-items: center;
}

.dump-logo {
  display: flex;
  position: absolute;
  width: 186px;
  height: 54px;
  left: calc(50% - 93px);
  margin-bottom: 10px;
}

.main-title {
  display: block;
  margin-top: 15%;
  font-weight: lighter;
  font-size: 300%;
}

.footer {
  width: 100vw;
  height: 150px;
  background-color: #232420;
  position: sticky;
  top: 50px;
  z-index: 2;
  color: white;
  justify-content: center;
  text-align: center;
  align-content: center;
  display: flex;
}

.footer-text {
  width: 500px;
  position: absolute;
  right: calc(50%-500px);
}

.main__button--footer {
  position: absolute;
  bottom: 15px;
  right: calc(50%-98px);
}

.footer-wrapper {
  margin-top: calc(92vh - 150px);
  height: calc(75vh + 150px);
  background-color: gray;
}

.highlight-div-one{
    width: 500px;
    background-color: #fff;
    padding: 10px;
}

.highlight-one-title{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
}

